body {
    margin: 0px;
    padding: 0px;
}

.container {
    box-sizing: border-box;
    margin: 10px;
}

.container h1 {
    text-align: center;
}

.row {
    box-sizing: content-box;
    width: 100%;
}

.col-sm-1, .col-md-1, .col-lg-1, .col-sm-2, .col-md-2, .col-lg-2, .col-sm-3, .col-md-3, .col-lg-3 {
    box-sizing: border-box;
    float: left;
}

.box {
    border: 1px solid black;
    background-color: #cccccc;
    margin: 10px;
}

.box-title {
    box-sizing: border-box;
    float: right;
    border: 1px solid black;
    border-right: 0px;
    border-top: 0px;
    width: 150px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
}

.box-content {
    padding: 30px 10px 0px 10px;
    font-size: 1.25em;
}

.color1 {
    background-color: #55ff55;
}

.color2 {
    background-color: #ff5555;
    color: #ffffff;
}

.color3 {
    background-color: #5555ff;
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
        width: 50%;
    }
    .col-md-2 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        width: 33.33%;
    }
    .col-lg-2 {
        width: 50%;
    }
}